body{
  background-color: rgb(142, 73, 232)  !important;
}

.todo {
  display: flex;
  justify-content:center;
  margin-top: 70px;
}


.toListBox  {
  border: 1px  solid #ddd ;
  padding: 20px ;
  width: 600px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.list   span {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 5px 12px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}


.list  p {
  font-weight: bold;
}